<section class="price">
  <div class="container">
    <h2 class="price-title">Price Table</h2>
    <p class="price-text">We offer competitive price</p>
    <ul class="price-list">
      <li class="price-item">
        <h3 class="price-item-title">Free</h3>
        <p class="price-item-text">Brief price description</p>
        <div class="price-propose">
          <span class="price-amount">0</span>
          <div class="price-detail-part">
            <span class="currency">$</span>
            <p class="per-month">Per / month</p>
          </div>
        </div>
        <ul class="price-details-list">
          <li class="price-details-item">
            <p class="price-details-item-text">Only 2 Operators</p>
          </li>
          <li class="price-details-item">
            <p class="price-details-item-text">Notifications</p>
          </li>
          <li class="price-details-item">
            <p class="price-details-item-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
      <li class="price-item">
        <h3 class="price-item-title">Standard</h3>
        <p class="price-item-text">Brief price description</p>
        <div class="price-propose">
          <span class="price-amount">5</span>
          <div class="price-detail-part">
            <span class="currency">$</span>
            <p class="per-month">Per / month</p>
          </div>
        </div>
        <ul class="price-details-list">
          <li class="price-details-item">
            <p class="price-details-item-text">5+ Operators</p>
          </li>
          <li class="price-details-item">
            <p class="price-details-item-text">Notifications</p>
          </li>
          <li class="price-details-item">
            <p class="price-details-item-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
      <li class="price-item">
        <h3 class="price-item-title">Premium</h3>
        <p class="price-item-text">Brief price description</p>
        <div class="price-propose">
          <span class="price-amount">10</span>
          <div class="price-detail-part">
            <span class="currency">$</span>
            <p class="per-month">Per / month</p>
          </div>
        </div>
        <ul class="price-details-list">
          <li class="price-details-item">
            <p class="price-details-item-text">10+ Operators</p>
          </li>
          <li class="price-details-item">
            <p class="price-details-item-text">Notifications</p>
          </li>
          <li class="price-details-item">
            <p class="price-details-item-text">Landing Pages</p>
          </li>
        </ul>
        <button class="price-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
