
/* Footer styles - Updated */
.footer {
  background-color: #efefef;
  color: #22343d;
  padding: 80px 0 20px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.footer-column {
  width: calc(25% - 30px);
  margin-bottom: 30px;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: #173a56;
  font-weight: bold;
  font-size: 24px;
}

.img-footer-logo {
  margin-right: 10px;
  height: 30px;
}

.footer-heading {
  color: #22343d;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item {
  margin-bottom: 15px;
}

.footer-item a {
  color: #22343d;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-item a:hover {
  color: #02897a;
}

.footer-form {
  margin-top: 20px;
}

.footer-input {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  box-sizing: border-box;
}

.footer-button {
  background-color: #02897a;
  color: #ffffff;
  width: 100%;
  padding: 12px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-button:hover {
  background-color: #016d62;
}

.footer-bottom {
  border-top: 1px solid #dedede;
  padding-top: 20px;
  text-align: center;
}

.copyright {
  color: #22343d;
  font-size: 14px;
  margin: 0;
}
